#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 18px;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 SPAN {
  color: #ffffff;
}
#header4-1 H1 {
  color: #efefef;
}
#header4-1 P {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__text {
  color: #eb6b56;
  font-size: 36px;
}
#msg-box4-22 .mbr-header__subtext {
  color: #000000;
  font-size: 22px;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-article P {
  color: #2969b0;
  font-size: 24px;
  text-align: left;
}
#msg-box4-22 .btn {
  font-size: 14px;
}
#msg-box4-22 .mbr-article UL {
  color: #28324e;
}
#msg-box4-22 .mbr-article LI {
  color: #000000;
}
#msg-box4-22 .mbr-article H2 {
  font-size: 25px;
  color: #475577;
}
#msg-box4-22 .mbr-article DIV {
  font-size: 24px;
}
#slider-6 P {
  text-align: center;
  color: #ffffff;
}
#slider-6 H1 {
  color: #ffffff;
  font-size: 48px;
}
#features1-9 .mbr-section-title .mbr-header__text {
  color: #b8312f;
  font-size: 36px;
}
#features1-9 .mbr-header__subtext {
  font-size: 19px;
}
